
@media screen and (max-width: 500px) {
    .nav1 {
        padding: 14px 30px;
    }

    .navbar-brand {
        padding: 10px 20px !important;
    }

    .navbar-nav {
        width: 100%;
        margin: auto;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    }

    .dic2 {
        display: flex;
        color: #292b2c;
        padding-left: 5px;
        padding-right: 7px;
        margin-left: 0%;
        margin-right: 0%;
    }

    /*    Nav 2*/
    #nav {

        padding: 0 !important;
    }

    .pdiv {
        display: flex;
        justify-content: space-between;
        padding: 0px 16px 12px 16px;
    }

    .l1 {
        padding: 10px 0px !important;
    }

    .uldrop {
        padding: 0;
        position: static;
        display: none;
        transform: scale(1);
    }

    .ul3drop {
        padding: 0;
        position: static;
        display: none;
        transform: scale(1);
    }

    .ul4drop {
        padding: 0;
        position: static;
        display: none;
        transform: scale(1);
    }
    .ul5drop {
        padding: 0;
        position: static;
        display: none;
        transform: scale(1);
    }
    .displayBlock{
        display: block;
    }
    .menuimage {
        display: none !important;
    }

    .ul3drop {
        position: unset;
        width: 100%;
        margin: 0px !important;
    }

    .ulchild {
        display: block;
    }

    .ch2 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        max-width: 100% !important;
        margin: 0px !important;
    }

    .ul4drop {
        width: 100%;
        position: sticky;
    }

    .ulchild5 {
        display: none;
    }

    .ul5drop {
        position: inherit;
        width: 100%;
    }

    .cartdropdown {
        right: -57px;
        top: 45px !important;
    }

    .layout {
        display: block !important;
    }

    .mainbody {
        padding: 70px 0px !important;
    }

    .tab {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }

    .inner {
        display: block;
    }

    .inner-box {
        width: 100%;
        margin-right: 0px !important;
    }

    .listimg {
        max-width: 97.3%;
    }

    .footpay {
        text-align: center !important;
    }


    /*Login Section*/

    .loginContainer{
        width: 100%;
    }
    .loginInner {
        padding: 26px;
    }
    .loginSection {
        padding: 30px 0px;
    }
}


