
@media  screen and (max-width: 1000px){
    .bann-info{
        position: absolute;
        top: 33px;
        right: 20px;
    }
    /*    Login Section*/
    .loginContainer {
        width: 81%;
    }
}
@media screen and (max-width: 760px){
    .listimg{
        max-width: 97.3%;
    }
    .listimg img{
        width: 100%;
        height: 100%;
    }
    .listinfo{
        padding: 15px;
    }

    /*Cart page*/
    .cart_btn{
        text-align: left !important;
        margin-top: 1rem;
    }
}
.subscribe{
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #FF324D !important;
}
.subscribeHeading h3{
    color: white;
    font-weight: 700;
}
.subscribeform{
    position: relative;
}
.subscribeform input{
    color: #000;
    box-shadow: none;
    height: 50px;
    padding: 8px 15px;
    border: none;
}
.subscribeform input:focus{
    outline: none;
}
.subscribeform button{
    border-radius: 0px;
    padding: 12px 25px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
.subscribeform button:focus{
    outline: none;
}
.footer{
    background-color: #202325;
    position: relative;
}
.footT{
    padding: 80px 0 50px;
}
.footLogo{
    color: #fff;
    margin-bottom: 20px;
}
.footLogo h6{
    color: #fff;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.footicons a{
    padding: 0px 5px 5px 0;
    font-size: 16px;
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
}
.footicons a:hover{
    color: #f6398d;
}
.footicons a i{
    color: #fff;
}
.footul ul{
    padding-left: 0px !important;
}
.footul li{
    display: flex;
    list-style: none;
    padding-bottom: 10px;
}
.footul li a{
    color:  #fff;
    transition: all .3s ease-in-out;
}
.footcontact li{
    margin-bottom: 15px;
    list-style: none;
}
.footcontact li a{
    border-color: #fff;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    margin-top: 4px;
    font-size: 18px;
    vertical-align: top;
}
.footcontact li i{
    display: inline-block;
    margin-right: 10px;
    margin-top: 4px;
    font-size: 18px;
    vertical-align: top;
    color: #fff;
}
.footcontact li p{
    color: #fff;
    font-size: 15px;
}
.footcontact li a{
    color: #fff;
    font-size: 15px;
}
.contact1{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.footbottom{
    padding: 30px 0;
    position: relative;
    border-top: 1px solid rgba(255,255,255,0.1);
}
.footcards li{
    display: inline-block;
}
.footpay{
    text-align: right!important;
}
@media screen and (max-width: 990px){
    .ul3drop{
        left: 64px;
    }
    .navbar-nav{
        width: 90%;
        margin: auto;
        box-shadow: 0 0 7px rgba(0,0,0,0.1);
    }
    .pdiv{
        display: flex;
        justify-content: space-between;
        padding: 0px 16px 12px 16px;
    }
    .l1{
        padding: 10px 0px !important;
    }
    .uldrop{
        padding: 0;
        position: static;
    }
    .menuimage{
        display: none;
    }
    .ul3drop{
        position: unset;
        width: 100%;
        margin: 0px !important;
    }
    .ulchild{
        display: block;
    }
    .ch2{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        max-width: 100% !important;
        margin: 0px !important;
    }
    .ul4drop{
        width: 100%;
        position: sticky;
    }
    .ulchild5{
        display: none;
    }
    .ul5drop{
        position: inherit;
        width: 100%;
    }
    .navic{
        position: absolute;
        display: flex;
        right: 52px;
        top: 12px;
        padding-right: 26px;
    }
    .navsearch {
        padding: 11px 0px 22px 0px;
    }
    .cart_count {
        top: -3px;
        right: -1px;
    }
    .navcart {
        padding: 5px 10px 16px 18px;
    }
    .con{
        display: initial !important;
    }
    .sidebanImg{
        text-align: center;
    }


}