body{
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
#nav{
    /*height: 100%;*/
    /*overflow-y: scroll;*/
    /*position: fixed;*/
}
.header1{
    border-bottom: 1px solid #eee;
}
.nav1{
    padding: 14px 0px;

}
.header2{
    transition: all .6s ease;
}
.sticky{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    z-index: 9999999999999999999999999999;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.dic{
    font-size: 14px;
    color: #333;

}
.img1{
    width: 16%;
    margin-right: 5px;
    border-radius: 100%;
}
.img2{
    width: 12%;
    height: 16px;
    border-radius: 100%;
    margin-right: 3px
}
.nav-link{
    /*padding: 0px;*/
    padding: 0px 0px 0px 0px;
    display: inline-block;
}
.drop-down{
    padding: 0px;
}
.dr{
    position: absolute;
    padding: 6px 0px 5px 10px;
    min-width: 9rem;
    left: -32px !important;
    border-radius: 0px;

}
.ic{
    padding-left: 5px;
}
.dropdown-item{
    padding: 4px 0px
}
.dropdown-item a{
    width: 12%;
}
.dropdown-item span{
    font-size: 15px;
}
.dic2{
    width: fit-content;
    margin-left: auto;
}
.dr2{
    min-width: 13% !important;
    text-align: center;
    border-radius: 0px;
}
.n2{
    margin-right: 1rem !important;
}
.dr2 a span{
    color: #333;
}
.phone{
    margin-right: 4px;
    font-size: 16px;
}
.d1{
    padding: 2px 15px 2px 0;
}
.d1:hover{
    color: #FF324D;
}
.d1 a{
    text-decoration: none;
}
.d1 i{
    margin-right: 6px;
}
/*Navbar 2*/
.collapse{
    flex-grow: 0 !important;
    margin-left: auto;

}
.header2{
    /*border-bottom: 1px solid #eee;*/
}
.navtog{
    border: none !important;
}
.navtog:focus{
    outline: none;
}
.navbar-nav{
    display: flex;
}
.navbar-nav li{
    padding: 20px 10px;
}
#ul1{
    top: 64px;
    right: 434px;
}
#ul2{
    top: 64px;
    right: 356px;
}
#ul4{
    /*top: 64px;*/
    /*right: 233px;*/
}
.uldrop{
    background: white;
    padding-right: 86px;
    padding-left: 0px;
    display: block;
    position: absolute;
    transition: all .5s ease;
    transform: scale(0);
}
.uldrop li{
    list-style: none;
    padding: 8px 20px 8px 20px;
}
.uldrop li a{
    color: #333333;
    text-decoration: none;
}
.uldrop li a:hover{
    color: #FF324D;
}

.ul3drop{
    display:  block;
    top: 64px;
    position: absolute;
    left: 0px;
    padding-left: 0px;
    right: 0px;
    width: 88%;
    margin: auto;
    transition: all .25s ease;
    transform: scale(0);
}
.show-submenu{
    transform: scale(1) !important;
}
.ulchild{
    display: flex;
}
.lichild{
    /*border-right: 1px solid #ddd;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}
.lichild h6{
    color:  #333333;
    font-size: 15px;
    font-weight: 700;
}
.ulchild2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 0px 0px 20px !important;
    border-right: 1px solid #ddd;
    list-style: none;
}
#lastul{
    border: 0px !important;
}
.lichild li{
    list-style: none;
    padding: 0px !important;
}
.lichild li a{
    font-size: 16px;
    padding: 10px 0px;
    color: #343a40;
    text-decoration: none;
    line-height: 2.5;
}
.lichild li a:hover{
    color: #f6398d;
}
.menuimage{
    padding-bottom: 14px;
}
.bann-info{
    position: absolute;
    top: 33px;
    right: 45px;
}
.bann-info h4{
    font-size: 22px !important;
}
.bann-info a{
    color: #343a40;
    text-decoration: none;
}
.bann-info a:hover{
    color: #f6398d;
}
.aline{
    height: 20px;
    width: 29%;
    border-bottom: 3px solid #6c757ddb;
    margin: 0px !important;
    position: absolute;
    top: 69px;
}
.ul4drop{
    background: white;
    width: 24%;
    padding-left: 0px;
    top: 64px;
    right: 233px;
    display: block;
    position: absolute;
    transition: all .5s ease;
    transform: scale(0);
}
.ul4drop li{
    list-style: none;
    padding: 8px 20px 8px 20px;
}
.ul4drop li a{
    color: #333333;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.ul4drop li a:hover{
    color: #FF324D;
}
.leftarrow{
    display: none;
}
.ul5drop{
    display:block;
    position: absolute;
    top: 64px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 80%;
    padding-left: 0px;
    transition: all .25s ease;
    transform: scale(0);
}
.menu5Info{
    position: absolute;
    top: 31px;
    color: #fff;
    left: 28px;
    right: 0;

}
.btn1{
    background: white !important;
    border-radius: 0px !important;
}

.lichild5{
    padding-left: 0px;
}
.m5{
    padding-left: 0px;
}
.navic a{
    color: #292b2c;
}
.navic a:hover{
    color: #f6398d;
}
.searchlayer{
    background-color: #000000ad;
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    left: -100%;
    display: block;
    z-index: 9999999999;
}
.searchinner{
    position: fixed;
    width: 100%;
    bottom: 0px;
    top: 0px;
}
.searchform{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 283px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}
.searchform form{
    width: 85%;
}
.searchform input{
    padding-bottom: 15px;
    width: 100%;
    /* padding-left: 24px; */
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
}
.navcart{
    padding: 17px 10px 12px 9px;
    position: relative;
}
.navcart a{
    text-decoration: none !important;
}
.navsearch{
    padding: 19px 10px 10px 10px;
}
.navsearch a{
    text-decoration: none !important;
}
.lnr_magnifier{
    font-size: 19px;
    color: black;
}
.cartdropdown{
    position: absolute;
    width: 320px;
    right: 20px;
    display: block;
    transition: all 0.25s ease-in-out;
    padding: 0;
    top: 100% !important;
    left: auto !important;
    background-color: white;
    z-index: 99999999;
    display: block;
    box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);
    /*transition: all .5s ease;*/
    transform: scale(0);
}
.cartdropdown ul{
    width: 100%;
    padding: 0 !important;
    max-height: 242px;
    overflow-y: auto;
    margin-bottom: 0px !important;
}
.cartdropdown ul li{
    border-bottom: 1px solid #3f3f3f;
    padding: 15px;
    display: inline-block;
    width: 100%;
    position: relative;
    list-style: none;
    text-transform: capitalize;
    border-color: #ddd;
}
.cartdropdown ul li a{
    font-size: 14px;
    vertical-align: top;
    text-transform: capitalize;
    font-weight: 600;
}
.cartdropdown a img{
    float: left;
    margin-right: 10px;
    max-width: 80px;
}
.cartprice{
    display: table;
}
.cartdropdown a .fa-close{
    float: right;
    margin-top: 5px;
    margin-left: 5px;
    color: #333 !important;
}
.ctotal{
    padding: 10px 15px;
    font-weight: 600;
    text-align: right;
}
.cbutton{
    padding: 10px 15px;
    font-weight: 600;
    text-align: center;
}
.subtotal{
    float: left;
}
.vcart{
    background-color: #292b2c;
    border: 1px solid #333;
    overflow: hidden;
    position: relative;
    color: #fff !important;
    transition: all 0.8s ease 0s;
    z-index: 1;
    padding: 8px 20px !important;
}
.checkout{
    padding: 8px 20px !important;
    background-color: #FF324D;
    border: 1px solid #FF324D;
    color: #fff !important;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-left: 10px;
}

.cbutton a:focus{
    outline: none;
}
.clo{
    position: absolute;
    top: -75px;
    /* left: 0px; */
    right: 0px;
    width: 10%;
    margin: auto;
    color: white;
    font-size: 20px;
}
.inputsearch{
    position: absolute;
    right: 85px;
    color: white;
    font-size: 19px;
}

/* Left Sidebar*/

.sidebartext h1{
    font-size: 29px !important;
    font-weight: 600;
}
.leftnavlink a{
    text-decoration: none;
    color: #343a40;
}
.leftnavlink span i{
    padding-left: 5px;
    padding-right: 7px;
}
.t{
    padding: 0px 20px 0px 0px;
}
.ti a:hover{
    color: #f6398d;
}
.t1 i{
    font-size: 18px;
    margin-right: 10px;
    height: 45px;
    width: 45px;
    float: left;
    text-align: center;
    line-height: 45px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    color: #343a40;
}
.layout select{
    border: 1px solid #ced4da;
    padding: 8px 35px 8px 15px;
    width: 100%;
    border-radius: 3px;
    outline: blue;
}
.inner{
    /*border: 2px solid black;*/
    display: flex;
    margin: auto;
    /*overflow: hidden;*/
    width: 100%;
    /*padding-left: 50px;*/
}
.inner::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.inner{
    -ms-overflow-style: none;
}
.inner-box{
    /*width: 33.5%;*/
    padding: 10px 0px;

}
.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2125294a;
    z-index: 60;
    /*border: 2px solid black;*/
    top: 0;
    display: none;
}
.inner-box:hover .cover{
    /*display: block;*/
}
.icon{
    width: 100%;
    height: 56px;
    position: absolute;
    bottom: 101px;
    text-align: center;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 0px;
    bottom: 0px;
}
.icon i{
    position: relative;
    margin: 0px 5px;
    display: inline-block;
    /*background: white;*/
    height: 37px;
    z-index: 6;
    padding-top: 10px;
    font-size: 18px;
    color: black;
}
.icon a{
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    width: 37px;
    height: 37px;
    z-index: 4;
    display: inline-block;
    text-align: center;

}
.productBox{

}
.details{
    margin: 5px;
    background-color: #fff;
    position: relative;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
}
.img{
    position: relative;

    /*width: 30%;*/
}
.img a img{
    z-index: 2;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.info{
    padding: 15px;
}
.sales{
    display: flex;
}
.sales .s1{
    color: #FF324D;
    font-weight: 600;
}
.s2{
    font-size: 14px;
    margin-right: 5px;
    margin-left: 3px;
}
.s3 span{
    color: #388e3c;
    font-size: 14px;
}
.starRate{
    display: flex;

}
.stars{
    /*display: none;*/
    color: #F6BC3E;
}
.circle{
    display: none;
}
.num{
    /*display: none;*/
    font-size: 14px;
    margin-left: 5px;
}
.circle-box span{
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    position: relative;
    cursor: pointer;
    border-radius: 100%;
}
.text a{
    color: #292b2c;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.text a:hover{
    color: red;
}


.listimg{
    width: 100%;
    height: 100%;
    max-width: 280px;
    position: relative;
    overflow: hidden;
}
.listimg img{
    max-width: 100%;
    width: 280px;
    height: 100%;
}
.listcontainer{
    display: inline-block;
    width: 100%;
    background-color: #fff;
    position: relative;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
}
.listinfo{
    overflow: hidden;
    text-align: left;
    padding: 15px 30px 15px 0px;
}
.listheader a{
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.listheader a h6:hover{
    color: #f6398d;
}
.listheader a h6{
    color: #292b2c;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px !important;
    font-weight: 500;
    line-height: 1.2;
}
.listprice{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.listdelete{
    font-size: 14px;
    margin-right: 5px;
    margin-left: 3px;
}
.listsale{
    color: #388e3c;
    font-size: 14px;
}
.fa-star{
    color: #F6BC3E;
}
.fa-star-o{
    border-color: #F6BC3E;
}
.listdetails{
    width: 100%;
    margin-bottom: 10px;
}
.listdetails p{
    color: #687188;
    line-height: 28px;
    font-size: 19px;
}
.listcolor{
    padding: 0;
    opacity: 1;
    visibility: visible;
    margin-bottom: 10px;
}
.listaddtcart a{
    text-decoration: none;
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 12px 30px;
    background-color: #FF324D;
    border: 1px solid #FF324D;
    color: #fff;
    border-radius: 4px;
}
.listactionholder{

    display: flex;

}
.fa-shopping-cart{
    line-height: normal;
    margin-right: 5px;
}
.cart_count{
    background-color: #FF324D;
    padding: 1px 5px;
    color: white;
    border-radius: 100%;
    font-size: 11px;
    position: absolute;
    top: 12px;
    right: 0px;
}
lnr_cart{
    font-size: 20px;
}
.shuff{
    color: #292b2c;
    text-decoration: none;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    width: 37px;
    height: 37px;
    text-align: center;
    margin: 0 8px 0 0;
    font-size: 17px;
}
.listicons{
    padding-left: 15px;
}
.listicons a i{
    line-height: 37px;
}
.pagination li{
    margin-right: 5px;
}
.pagination{
    justify-content: center;
}
.pagination li a{
    text-decoration: none;
    border: 2px solid #dee2e6;
    border-radius: 0 !important;
    line-height: 36px;
    height: 40px;
    width: 40px;
    color: #343a40;
    text-align: center;
    display: block;
}
.pagination li a:hover{
    background-color: #FF324D;
    border-color: #FF324D;
    color: #fff;
}
.categories h5{
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.categoriesD{
    padding-bottom: 10px;
}
.categoriesD:hover{
    color: #f6398d;
}
.categoriesD i{
    padding-right: 6px;
}
.categoriesD a{
    color: #292b2c;
    text-decoration: none;
}
.categoriesnum{
    float: right;

}
.filter{
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 30px;
}
.filterTitle h5{
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 18px;
}
.filterPrice{
    border: 0;
    border-radius: 0;
    background-color: #ddd;
    height: 4px;
    margin-bottom: 20px;
}
.filterPriceRange{
    color: #292b2c;
}
.Fprice{
    margin-left: 5px;
    font-weight: 600;
}
.brand{
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 30px;
}
.brandtiltle{
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.brandcheckbox span{
    color: #292b2c;
}
.fa-square-o{
    font-size: 18px;
    font-weight: bold;
    color: #545b62;
}
.brandcheck{
    margin-bottom: 12px;
}
.size{
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 30px;
}
.sizes span{
    cursor: pointer;
    text-transform: uppercase;
    width: 32px;
    display: inline-block;
    border: 2px solid #ddd;
    text-align: center;
    height: 32px;
    line-height: 28px;
    font-size: 14px;
    margin-bottom: 3px;
}
.size h5{
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.sizes span.active{
    border-color: #FF324D;
    background-color: #ff324d;
    color: #fff;
}
.cat-colour{
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 30px;
}
.cat-colour h5{
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.cat-colour span{
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    position: relative;
    cursor: pointer;
    border-radius: 100%;
}
.sidebarBan{
    position: relative;
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 30px;
}
.sidebanImg img{
    max-width: 100%;
}
.sidebanInfo {
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: black;
    right: 0px;
    width: fit-content;
    margin: auto;
    padding: 0px 0px 20px 20px;
}
.sidebanInfo h5{
    color: #fff;
    font-size: 20px;
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.2;
}
.sidebanInfo h3{
    font-size: 34px;
    color: #fff;
    margin-bottom: .5rem;
}
.button{
    position: relative;
}
.button a{
    background-color: white;
    border-radius: 0px;
    transition: all 1s ease;
}
.button a::before{
    background-color: transparent !important;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    z-index: 1;
    transition: all 1s ease;

}

#scrolltop{
    position: fixed;
    padding: 8px 16px;
    background-color: #343a4063;
    text-align: center;
    bottom: 42px;
    right: 33px;
    color: white;
    display: none;
    z-index: 99999999;
}
#scrolltop:hover{
    background-color: #FF324D;
}



/*Login session*/

.loginSection{
    padding: 80px 0px;
}
.loginContainer{
    width: 50%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.loginInner{
    padding: 60px;
}
.loginHeader{
    margin-bottom: 20px;
    text-align: left!important;
}
.loginInp{
    width: 100%;
    margin-bottom: 17px;
    height: 50px;
    padding: 8px 15px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #687188;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.loginInp:focus{
    outline-color: #39a0ca;
    outline-style: solid;
    /*border: 1px solid #39a0ca;*/
}

.loginfooter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /*color: #000;*/
    color: #687188;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.Loginbut{
    width: 100%;
    padding: 12px 0px;
}
.inpb{

    border: 1px solid #FF324D;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.inpb::after,
.inpb::before{
    content: '';
    position: absolute;
    top:0;
    bottom: 0;
    width: 50%;
    background-color: #FF324D;
    z-index: 1;
    transition: all .6s ease;
}
.inpb::after{
    right: 0;
}
.inpb::before{
    left: 0;
}
.inpb:hover::after{
    transform: translate(100%);
}
.inpb:hover::before{
    transform: translate(-100%);
}
.inpb span{
    position: relative;
    z-index: 2;
}
.inpb:hover{
    color: #f6398d;
}


.loginSignUp{
    color: #687188;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

.loginSignUp a{
    color: #292b2c;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.loginSignUp a:hover{
    color: #f6398d;
}


/*Cart Section*/
.cartSection{
    padding: 80px 0px;
}

.table td, .table th {
    vertical-align: middle;
}

.minus{
    background-color: #eee;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    padding: 0px;
    margin: 2px;
    text-align: center;
    display: block;
    float: left;
}
.plus{
    background-color: #eee;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    padding: 0px;
    margin: 4px;
    text-align: center;
    display: block;
    float: left;
}
.minus:focus{
    outline: none;
}
.plus:focus{
    outline: none;
}
.quan:focus{
    outline: none;
}
.quan{
    border: 1px solid #ddd;
    width: 55px;
    height: 35px;
    text-align: center;
    margin: 3px;
    padding: 0;
    display: block;
    float: left;
}
.productRemove a i:hover{
    background-color: #F00;
    color: #fff;
}

.productRemove a i{
    color: #292b2c;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 100px;
}

.productFooter{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.product_coupon{
    display: flex;
}
.product_coupon input{
    border: 1px solid #ced4da;
    padding: 9px 15px;
    color: #eee;
    border-bottom-left-radius: .2rem;
    border-top-left-radius: .2rem;
    border-right: 0px;
}
.product_coupon input:focus{
    outline: none;
}
.bnt:focus{
    outline: none;
}
.coupon_btn{
    margin-right: 0px !important;

}
.coupon_btn button{
    padding: 11px 25px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.cart_btn{
    text-align: right !important;
}
.cart_btn button{
    border: 1px solid #333;
    padding: 8px 25px;
}
.divider_icon{
    text-align: center;
}
.divider_icon i{
    background-color: #fff;
    color: #d9d9d9;
    position: relative;
    z-index: 1;
    font-size: 30px;
    padding: 0 40px;
}

.divider_icon::before, .divider_icon::after{
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0px;
    height: 0;
    border-top: 1px solid #dddddd;
    transform: translateY(-50%);
}
.divider{
    padding: 20px 0px;
}
.cartTotal_info{
    padding: 30px;
}
.cartTotal_container{
    border: 1px solid #dddddd;
}
.proceed_btn{
    padding: 12px 30px;
}
.ct{
    text-align: right;
}